@import url(./fonts.css);

/* CUSTOM PROPS */

:root {
    --background-black: #1C1C1E;
    --btn-color: #0040DD;
    --white: #fff;
    --manrope:  "Manrope";
}

/* GLOBAL STYLES */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
  

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CONTAINER */

.container {
    max-width: 1280px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

/* BTN */

.btn {
    background-color: var(--btn-color);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 50px;
    display: block;
    width: max-content;
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 5px;
    transition: .5s;
}

/* BTN HOVER */

.btn:hover {
    opacity: .8;
}
/* BTN ACTIVE */
.btn:active {
    opacity: .6;
}

/* OUTLINE BTN */

.outline-btn {
    background-color: none;
    color: var(--white);
    padding: 10px 15px;
    border-radius: 50px;
    display: block;
    width: max-content;
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 5px;
    transition: .5s;
    border: 1px solid var(--white);
}

/* TITLE */
.title {
    color: var(--white);
    font-family: var(--manrope);
    font-size: 55px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}
/* D-FLEX */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 16px;
    font-family: var(--Fraunces);
    background: var(--background-black);
}



/* SITE-HEADER */

.site-header {
    padding-top: 65px;
    padding-bottom: 85px;
}
.logo {
    display: block;
}
.logo-image {
    width: 106px;
    height: 43px;
    object-fit: cover;
}

.menu {
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.menu-list {
    display: flex;
    column-gap: 35px;
}

.menu-link {
    color: var(--white);
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    opacity: .3;
    cursor: pointer;
}
.menu-lang {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 6px 10px;
    border: 1px solid var(--white);
    border-radius: 75px;
    opacity: .6;
    cursor: pointer;
}
.menu-lang__link {
    color: var(--white);
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 500;
    opacity: .3;
}
.menu-lang__link.active {
       opacity: 1;
}

/* HOVER */
.menu-lang__link:hover {
    color: var(--white) !important;
}
/* SITE-HEADER */

/* SITE-HERO */
.site-hero__banner {
    width: 100%;
    height: 415px;
    object-fit: cover;
}
.site-hero__content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.site-hero__desc {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.site-hero__text {
    max-width: 1021px;
    width: 100%;
    color: var(--white);
    font-family: var(--manrope);
    font-size: 22px;
    font-weight: 700;
    line-height: 44px;
}
/* SITE-HERO */


/* SERVICES-SECTION */
.services {
    padding-top: 100px;
    padding-bottom: 50px;
}

.services-cards {
    display: flex;
    overflow-x: auto;
}
.services-card {
    max-width: 406px;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 131px;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
    flex-shrink: 0;

}
.services-card__title {
    color: var(--white);
    font-family: var(--manrope);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
.services-card__desc {
    max-width: 305px;
    width: 100%;
    color: var(--white);
    font-family: var(--manrope);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

/* SERVICES-SECTION */









